@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin: 30px 20px;
  height: 90%;
  border-radius: 10px;
  background-color: white;
}

.product-image {
  background-image: url("../../images/image-product-mobile.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-info {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  padding: 20px;
}

.product-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  height: 100%;
}

.product-type {
  font-size: 3.7vw;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 160%;
}

.product-name {
  font-size: 8.5vw;
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  line-height: 90%;
}

.product-description {
  font-size: 3.7vw;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 500;
  line-height: 160%;
}

.product-price-wrapper {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 20px;
}

.product-price {
  font-size: 8.5vw;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  line-height: 90%;
}

.product-small-price {
  font-size: 3.7vw;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 500;
  line-height: 160%;
  text-decoration: line-through;
}

.product-cart-icon {
  width: 4vw;
  height: 4vw;
}

.product-cart-button {
  font-size: 3.7vw;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 500;
  line-height: 160%;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  border: none;
  height: 15vw;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product-cart-button:hover {
  cursor: pointer;
  background-color: #1A4031;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1080px) {
  .product-card {
    flex-direction: row;
    width: 50%;
    height: 70%;
    border-radius: 20px;
  }
  .product-image {
    width: 50%;
    height: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("../images/image-product-desktop.jpg");
    background-size: cover;
  }
  .product-info {
    width: 50%;
    height: 100%;
    padding: 40px;
    margin: 0;
  }
  .product-cart-button {
    height: 4vw;
  }
  .product-cart-icon {
    width: 1.1vw;
    height: 1.1vw;
  }
  .product-type, .product-description, .product-small-price, .product-cart-button {
    font-size: 1vw;
  }
  .product-name, .product-price {
    font-size: 2vw;
  }
}
@media (min-width: 1440px) {
  .product-card {
    height: 60%;
    width: 45%;
  }
  .product-info {
    padding: 60px;
  }
  .product-cart-button {
    height: 5vh;
    border-radius: 10px;
  }
  .product-type, .product-description, .product-small-price, .product-cart-button {
    font-size: 1.1vw;
  }
  .product-name, .product-price {
    font-size: 2.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
